.App {
  display: flex;
  flex-direction: column; /* フレックスボックスの方向を縦に設定 */
  align-items: center; /* 中央揃え */
  justify-content: center;
}

button {
  width: 200px; /* 必要に応じてボタンの幅も調整 */
} 

button:last-child {
  margin-bottom: 0; /* 最後のボタンの下に余白を追加しない */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.logo_layout {
  display: block;      /* ブロック要素として扱う */
  margin-left: 0;      /* 左側の余白を0にする */
  margin-right: auto;  /* 右側の余白を自動調整 */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
